
header
    background-image: url("./img/header-bg.png")
    background-repeat: no-repeat
    background-size: cover
    font-weight: $normal
    color: #ffffff
    height: 252px
    h1
        font-weight: $bold
    .header-container
        padding-top: 50px
        max-width: 1280px
        margin: 0 auto
    .nav-logo-phone-container
        display: flex
        flex-grow: 12
        justify-content: space-between
        align-items: center
        .logo
            flex-grow: 1
        .nav
            flex-grow: 6
        .phone
            align-self: flex-end
            flex-grow: 5
        ul
            display: flex
            a
                margin-left: 5%
