main
    .main-container
        max-width: 1280px
        margin: 0 auto
        font-weight: $normal
        .sort
            display: inline-block
            text-align: left
        #age,#price
            border: none
            font-size: 1em
            background-color: #ffffff
            margin: 2em 0 2em 2em
    .cat-container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        .about-cat-1, .about-cat-2, .about-cat-3, .about-cat-4, .about-cat-5, .about-cat-6, .about-cat-7
            display: flex
            align-items: center
            p
                padding-left: 1%
        .image-cat-1, .image-cat-4
            background: url("./img/cat1.jpg")
        .image-cat-2, .image-cat-5
            background: url("./img/cat2.jpg")
        .image-cat-3, .image-cat-6
            background: url("./img/cat3.jpg")
        .image-cat-1 ,.image-cat-4 ,.image-cat-2 ,.image-cat-5 ,.image-cat-3,.image-cat-6
            background-repeat: no-repeat
            height: 264px
        .show-more
            font-size: 1em
            width: 380px
            height: 65px
            border: 1px solid #CACACA
            border-radius: 10%
            margin: 0 auto
