@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

header {
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  color: #ffffff;
  height: 252px;
}

@media (max-width: 400px) {
  header {
    background-image: none;
    background: #1F2021;
  }
}

header h1 {
  font-weight: 700;
  font-size: 2.5em;
}

@media (max-width: 550px) {
  header h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  header h1 {
    font-size: 1.2em;
    text-align: center;
  }
}

header .header-container {
  padding-top: 3em;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  header .header-container {
    padding: 2em 3em 0 3em;
  }
}

header .header-container .nav-logo-phone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .nav-logo-phone-container .logo {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media (max-width: 600px) {
  header .header-container .nav-logo-phone-container .logo {
    text-align: center;
  }
}

header .header-container .nav-logo-phone-container .nav {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

header .header-container .nav-logo-phone-container .phone {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header .header-container .nav-logo-phone-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container .nav-logo-phone-container ul li {
  margin-left: 5%;
}

@media (max-width: 400px) {
  header .header-container .nav-logo-phone-container {
    display: block;
  }
}

@media (max-width: 600px) {
  header .header-container .desktop-nav {
    display: none;
  }
}

@media (max-width: 400px) {
  header .header-container .phone {
    padding-top: 1em;
    text-align: center;
  }
}

main .main-container {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: 400;
}

main .main-container .sort {
  display: inline-block;
  text-align: left;
}

main .main-container #age, main .main-container #price {
  border: none;
  font-size: 1em;
  background-color: #ffffff;
  margin: 2em 0 2em 2em;
}

main .cat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .cat-container .about-cat-1, main .cat-container .about-cat-2, main .cat-container .about-cat-3, main .cat-container .about-cat-4, main .cat-container .about-cat-5, main .cat-container .about-cat-6, main .cat-container .about-cat-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cat-container .about-cat-1 p, main .cat-container .about-cat-2 p, main .cat-container .about-cat-3 p, main .cat-container .about-cat-4 p, main .cat-container .about-cat-5 p, main .cat-container .about-cat-6 p, main .cat-container .about-cat-7 p {
  padding-left: 1%;
}

main .cat-container .image-cat-1, main .cat-container .image-cat-4 {
  background: url("./img/cat1.jpg");
}

main .cat-container .image-cat-2, main .cat-container .image-cat-5 {
  background: url("./img/cat2.jpg");
}

main .cat-container .image-cat-3, main .cat-container .image-cat-6 {
  background: url("./img/cat3.jpg");
}

main .cat-container .image-cat-1, main .cat-container .image-cat-4, main .cat-container .image-cat-2, main .cat-container .image-cat-5, main .cat-container .image-cat-3, main .cat-container .image-cat-6 {
  background-repeat: no-repeat;
  height: 264px;
}

main .cat-container .show-more {
  font-size: 1em;
  width: 380px;
  height: 65px;
  border: 1px solid #CACACA;
  border-radius: 10%;
  margin: 0 auto;
}

.sale {
  width: 78px;
  height: 39px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 20%;
  text-align: center;
  padding-top: 2.5%;
}

a {
  color: #ffffff;
}

a:hover {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */